<div class="row align-right">
    <div class="columns">
        <h3 class="subheader">Facile, Leggero e Preciso</h3>
        <p class="p_stretto">
            <span class="leggero">Prezzo: <span class="prezzo_intero">90,00€</span></span><br>
            Offerta: <span class="prezzo">63,00€</span><br class="show-for-small-only"><i class="leggero">Spedizione <strong>senza</strong> costi aggiuntivi</i><br>
            <span class="leggero">Risparmi: 27,00€ (-30%)</span><br class="show-for-small-only"><br class="show-for-small-only"><span class="show-for-medium"> - </span><i>Promozione valida fino al <strong>31 Luglio</strong></i> <br>
            <span class="leggero">Disponibilità:</span> solo 40 pezzi!
        </p>

            <form class="addToCart" action="/cart/add" idaccept-charset="UTF-8" method="POST">
                <input type="hidden" name="productId" value="64109a9d-c358-4d6c-b10a-36cba6886a1c">
                <button class="acquistaSubito ctaButton button snipcart-add-item" type="submit" value="Submit">Acquista Subito</button>
            </form>
            <br>

            <div class="box_nverde">
                <span>Oppure ordina chiamando il Numero Verde gratuito!</span><br />
                <span class="numero-verde"> 800-180-439 </span><br />
                <span>Lun-Ven dalle 9:00 alle 18:00</span>
            </div>

    </div>
</div>