<div class="row align-right">
    <div class="columns">
        <h3 class="subheader">Facile, Leggero e Preciso</h3>
        <p class="p_stretto">
            <span class="leggero">Prezzo: <span class="prezzo_intero">90,00€</span></span><br>
            Offerta: <span class="prezzo">63,00€</span><br class="show-for-small-only"><i class="leggero">Spedizione <strong>senza</strong> costi aggiuntivi</i><br>
            <span class="leggero">Risparmi: 27,00€ (-30%)</span><br class="show-for-small-only"><br class="show-for-small-only"><span class="show-for-medium"> - </span><i>Promozione valida fino al <strong>31 Luglio</strong></i> <br>
            <span class="leggero">Disponibilità:</span> solo 40 pezzi!
        </p>
            <button
                class="acquistaSubito ctaButton button snipcart-add-item"
                data-item-id="185014"
                data-item-name="Misuratore di Pressione"
                data-item-price="63.00"
                data-item-url="https://www.misuratore-pressione.eu/<%= current_page.url %>"
                data-item-description="Misuratore di pressione da braccio automatico">
                    Aggiungi al Carrello
            </button><br>

            <div class="box_nverde">
                <span>Oppure ordina chiamando il Numero Verde gratuito!</span><br />
                <span class="numero-verde"> 800-180-439 </span><br />
                <span>Lun-Ven dalle 9:00 alle 18:00</span>
            </div>

    </div>
</div>