<!-- Default home page -->

{% extends "layout.html" %}


{% block body %}

<section class="title-container show-for-medium" style="background: url(https://prismic-io.s3.amazonaws.com/misuratoripressione/4fe50625f43a222aa95adae58790ce4e83878f09_dettagliouomo004-copy.jpg) center no-repeat; background-size: cover;">
    <div class="row clearfix align-left">
        <div class="columns large-7 columns title">
            <h1>Misuratore di pressione Solede</h1>
            {% include "includes/_acquisto_misuratore_pressione.html" %}
        </div>
    </div>
</section>

<section class="title-container show-for-small-only">
    <div class="row clearfix">
        <div class="title float-center">
            <h1>Misuratore di pressione Solede</h1>
            <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/4fe50625f43a222aa95adae58790ce4e83878f09_dettagliouomo004-copy.jpg">
            <br><br>
            {% include "includes/_acquisto_misuratore_pressione.html" %}
        </div>
    </div>
</section>

{% include "includes/_divisorio.html" %}

<div class="row">
    <div class="columns">
        <h2>Un servizio di eccellenza</h2>
    </div>
</div>

<div class="row small-up-1 medium-up-3">
  <div class="column"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i> 100% soddisfatti o rimborsati - <strong>Reso gratuito</strong></p></div>
  <div class="column"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Spedizione <strong>gratuita</strong> in 24h</p></div>
  <div class="column"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Garanzia <strong>6 anni</strong></p></div>
  <div class="column"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Assistenza gratuita: <strong>800-180-439</strong></p></div>
  <div class="column"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Pagamenti in <strong>Contrassegno</strong> o <strong>Carta di credito</strong></p></div>
  <div class="column"><p><i class="fa fa-thumbs-up" aria-hidden="true"></i> Acquisto al telefono: <strong>800-180-439</strong></p></div>
</div>


{% include "includes/_divisorio.html" %}

<section class="title-container show-for-medium" style="background: url(https://prismic-io.s3.amazonaws.com/misuratoripressione/49f9714335cec9a32cfdfcba53d7aabbe1759a1e_dettagliouomo001.jpg) center no-repeat; background-size: cover;">
    <div class="row clearfix align-left">
        <div class="columns large-4 title">
            <h2>Previeni le malattie cardiovascolari</h2>
            <p>
                L'ipertensione Arteriosa (asintomatica) è la principale causa di malattie cardiovascolari (infarto del miocardio, ictus cerebrale, scompenso cardiaco) e in Italia provoca <strong>240.000</strong> morti all'anno
            </p>
            <p>
                <i>Lo sfigmomanometro ti permette di tenere monitorata autonomamente la pressione direttamente da casa tua. Ogni giorno!</i>
            </p>
        </div>
    </div>
</section>
<section class="title-container show-for-small-only">
    <div class="row clearfix">
        <div class="title float-center">
            <h2>Previeni le malattie cardiovascolari</h2>
            <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/49f9714335cec9a32cfdfcba53d7aabbe1759a1e_dettagliouomo001.jpg">
            <p>
                L'ipertensione Arteriosa (asintomatica) è la principale causa di malattie cardiovascolari (infarto del miocardio, ictus cerebrale, scompenso cardiaco) e in Italia provoca <strong>240.000</strong> morti all'anno
            </p>
            <p>
                <i>Lo sfigmomanometro ti permette di tenere monitorata autonomamente la pressione direttamente da casa tua. Ogni giorno!</i>
            </p>
        </div>
    </div>
</section>


{% include "includes/_divisorio.html" %}

<div class="row">
    <div class="columns">
        <h2>Facile e Intuitivo</h2>
        <p>
            Di facile utilizzo, permette a tutti di essere usato senza alcuna preparazione medica. <strong>Bastano 3 minuti</strong>!
        </p>
        <div class="row">
            <div class="columns small-12 medium-4">
                <h4>Avvolgi la fascia</h3>
                <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/4b0e338b2271a47375e00c63eb4b772afcff9889_dettagliobraccio.jpg">
            </div>
            <div class="columns small-12 medium-4">
                <h4>Accendi il dispositivo</h3>
                <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/ec1e7549893fc4b05ff28d490d49c36c3ef365d0_dettagliomano02.jpg">
            </div>
            <div class="columns small-12 medium-4">
                <h4>Leggi i dati</h3>
                <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/62d2bf38366de2be3297e50a44b2d3bb72abd8ad_dettagliomano.jpg">
            </div>
        </div>
        <p>
            <i>Completamente automatico, non richiede alcuna competenza medica o tecnica</i>
        </p>
    </div>
</div>

{% include "includes/_divisorio.html" %}

<section class="title-container show-for-medium" style="background: url(https://prismic-io.s3.amazonaws.com/misuratoripressione/8d55526052692585f4bdba2d7e5c874c45c88f58_uomo004c.jpg) center no-repeat; background-size: cover;">
    <div class="row clearfix align-right">
        <div class="columns large-5 title">
            <h2>Per tutti, ogni giorno</h2>
            <p>Il nostro misuratore di pressione è pensato per essere usato quotidianamente. Non richiede manutenzione, è sempre preciso ed accurato e di semplice uso</p>

            <ul>
                <li>Dotato di <strong>ampio</strong> schermo</li>
                <li>Con <strong>grandi numeri</strong>, facilmente leggibili</li>
                <li>Media delle <strong>ultime 3 misurazioni</strong> consecutive</li>
                <li>Indica istantaneamente la pressione irregolare (WHO)</li>
                <li>Capace di segnalare un eventuale battito cardiaco irregolare (IHB)</li>
                <li>90 Misurazioni memorizzabili per 2 persone</li>
                <li>Preserva le batterie spegnendosi automaticamente dopo 3 minuti di inutilizzo</li>
            </ul>
        </div>
    </div>
</section>
<section class="title-container show-for-small-only">
    <div class="row clearfix">
        <div class="title float-center">
            <h2>Per tutti, ogni giorno</h2>
            <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/8d55526052692585f4bdba2d7e5c874c45c88f58_uomo004c.jpg">
            <p>Il nostro misuratore di pressione è pensato per essere usato quotidianamente. Non richiede manutenzione, è sempre preciso ed accurato e di semplice uso</p>

            <ul>
                <li>Dotato di <strong>ampio</strong> schermo</li>
                <li>Con <strong>grandi numeri</strong>, facilmente leggibili</li>
                <li>Media delle <strong>ultime 3 misurazioni</strong> consecutive</li>
                <li>Indica istantaneamente la pressione irregolare (WHO)</li>
                <li>Capace di segnalare un eventuale battito cardiaco irregolare (IHB)</li>
                <li>90 Misurazioni memorizzabili per 2 persone</li>
                <li>Preserva le batterie spegnendosi automaticamente dopo 3 minuti di inutilizzo</li>
            </ul>
        </div>
    </div>
</section>

{% include "includes/_divisorio.html" %}

<div class="row">
    <div class="columns">
        <h2>Consigliato da medici e professionisti</h2>
        <p>Il nostro sigmomanometro è stato testato sul campo da associazioni di soccorso e medici. E' un prodotto affidabile <strong>garantito 6 anni</strong>!</p>

        <ul>
            <li>Usato quotodianamente da associazioni di soccorso</li>
            <li>Certificazione FDA (Ente di certificazione americano)</li>
            <li><strong>Garantito 6 Anni</strong></li>
        </ul>

        <div class="row">
            <div class="columns">
                <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/76bfb7fa71fc5ca55e45c3d862e6b820aeb1528d_logo_cee.png" alt="Misuratore di pressione a marchio CE"><br>
                <span class="leggero">Prodotto a marchio CE</span>
            </div>
             <div class="columns">
                <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/fdfb9edc7a905b6914ec0edf08e9306f8dca2056_fda.png" alt="Misuratore di pressione approvato dalla Food and Drug Administration"><br>
                <span class="leggero">Approvazione FDA</span>
            </div>
        </div>

    </div>
    <div class="columns medium-5 show-for-medium">
        <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/83d8eb98f909d9a77c12ae257b1a290712b92dc5_dottore1.jpg">
    </div>
</div>

{% include "includes/_divisorio.html" %}

<div class="row">
    <div class="columns">
        <h2>Recensioni del prodotto</h2>
        <div class="row align-middle">
            <div class="columns small-12 medium-4">
                <h4>Roberta Vitale</h3>
                <p class="recensione">
                    <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/2997601d68dadac537d980dddc2c1b5cae55addd_roberta-vitale.jpg"> Il prodotto è di ottima fattura e intuitivo anche per chi come me è meno esperto con la tecnologia. Basta avvolgere la fascia al braccio come da istruzioni, accendere l'apparecchio e leggere la pressione e i battiti cardiaci al minuto. Ormai lo uso da un paio di mesi e le misurazioni sono sempre precise. Consigliatissimo!
                </p>
                <span class="stelle"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            </div>
            <div class="columns small-12 medium-4">
                <h4>Giorgio Olivieri</h3>
                <p class="recensione">
                    <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/b585dc5012cda244e48843e31ee428a4537a3eaf_giorgio-olivieri.jpg"> Un valido prodotto con ottima qualità dei materiali. Ho chiamato il numero verde per avere più informazioni sulla circonferenza del bracciale e sono stati molto gentili. Consegna nei tempi previsti, e senza nessuna complicazione, imballaggio perfetto. Anche mia moglie è rimasta molto soddisfatta della qualità del prodotto!!
                </p>
                <span class="stelle"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            </div>
            <div class="columns small-12 medium-4">
                <h4>Mauro Candido</h3>
                <p class="recensione">
                    <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/b1034e43647e92e4bdaff3c2ac10e131f08485df_mauro-candido.jpg"> Ho scelto questo misuratore di pressione per due requisiti fondamentali: facilità di utilizzo (lo usano i miei genitori, ormai anziani) e la possibilità di memorizzazione dei dati per due utenti. Lo raccomando a tutti per qualità, prezzo e affidabilità della misurazione (ho confrontato i dati con quelli di un altro misuratore che avevo a casa).
                </p>
                <span class="stelle"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>

{% include "includes/_divisorio.html" %}

<section class="title-container show-for-large" style="background: url(https://prismic-io.s3.amazonaws.com/misuratoripressione/eb064eba64f2e0e91c745da76432122787ecbf48_donna001.jpg) center no-repeat; background-size: cover;">
    <div class="row clearfix align-right">
        <div class="columns large-7  title">
            <h1>Misuratore di pressione Solede</h1>
            {% include "includes/_acquisto_misuratore_pressione.html" %}
        </div>
    </div>
</section>

<section class="title-container hide-for-large">
    <div class="row clearfix">
        <div class="title float-center">
            <h1>Misuratore di pressione Solede</h1>
            <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/eb064eba64f2e0e91c745da76432122787ecbf48_donna001.jpg">
            <br><br>
            {% include "includes/_acquisto_misuratore_pressione.html" %}
        </div>
    </div>
</section>


{% include "includes/_divisorio.html" %}

<div class="row">
    <div class="columns">
        <h2>Cosa troverai nella confezione</h2>
    </div>
</div>
<div class="row">
    <div class="columns">
        <p>
            <h4>Misuratore di pressione</h3>
            <ul>
                <li>Peso: <i>500g</i></li>
                <li>Misura base: <i>20cm</i></li>
                <li>Misura larghezza: <i>30cm</i></li>
                <li>Misura altezza: <i>20cm</i></li>
            </ul>
        </p>
        <p>
            <h4>Fascia per braccio</h3>
            <ul>
                <li>Circonfernza braccio: <i>da 20cm a 45cm</i></li>
            </ul>
        </p>
        <p>
            <h4>Manuale d'uso</h3>
            <ul>
                <li>Manuale d'uso con disegni</li>
            </ul>
        </p>
        <p>
            <h4>Batterie</h3>
            <ul>
                <li>4 Pile AA da 1,5 volt</li>
            </ul>
        </p>
    </div>
    <div class="columns small-12 medium-7">
        <img src="https://prismic-io.s3.amazonaws.com/misuratoripressione/62f1ca4c096f76222f4bf53c9c0151cf892c109a_still-life003.jpg">
    </div>
</div>

{% include "includes/_divisorio.html" %}

<div class="row">
    <div class="columns small-12 medium-5 small-order-2 medium-order-1">
        <img src="https://prismic-io.s3.amazonaws.com/solede%2Fec203e4a-0567-4ec6-965f-d0893d2990c6_logo_solede.png">
    </div>
    <div class="columns small-order-1 medium-order-2">
        <h2>Onestà e competenza</h2>
        <p>
            Solede è una giovane realtà nata nel 2015 allo scopo di diffondere la <strong>cultura della prevenzione</strong> attraverso la diffusione di strumenti elettronici di facile utilizzo.
        </p>
        <p>
            Unitamente ad un grosso lavoro di formazione e culturale, cerchiamo di rendere disponibili al grande pubbico degli stumenti di misurazione monitoraggio della propria salute.
        </p>
        <p>
            <i>Avvalendosi della consulenza di medici affermati e professionisti del soccorso, Solede propone al proprio pubblico strumenti di monitoraggio semplici e funzionali a prezzi competitivi</i>
        </p>
    </div>
</div>

{% endblock %}


{# <div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('A brand new app.') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
  <div class="main container clearfix">
    <!-- <h1>Getting started</h1>
    <p>Don't worry, we've got your back.</p> -->
    <ul class="getting-started">
      <li class="clearfix">
        <div class="step">
          <div class="sprite one"></div>
          <h3>Generate a REST API.</h3>
          <p>
            Run <code>sails generate api user</code>.  This will create two files: a <a href="http://sailsjs.org/#!/documentation/concepts/ORM/Models.html">model</a> <code class="pocket">api/models/User.js</code> and a <a href="http://sailsjs.org/#!/documentation/concepts/Controllers">controller</a><code class="pocket">api/controllers/UserController.js</code>.
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite two"></div>
          <h3>
            Lift your app.
          </h3>
          <p>
            Run <code>sails lift</code> to start up your app server.  If you visit <a target="_blank" href="http://localhost:<%= sails.config.port || 1337%>/user"><code>http://localhost:<%= sails.config.port || 1337%>/user</code></a> in your browser, you'll see a <a href="http://sailsjs.org/#!/documentation/reference/blueprint-api">WebSocket-compatible</a> user API.
          </p>
        </div>
      </li>
      <li class="clearfix">
        <div class="step">
          <div class="sprite three"></div>
          <h3>
            Dive in.
          </h3>
          <p>Blueprints are just the beginning.  You'll probably also want to learn how to customize your app's <a href="http://sailsjs.org/#!/documentation/concepts/Routes">routes</a>, set up <a href="http://sailsjs.org/#!/documentation/concepts/Policies">security policies</a>, configure your <a href="http://sailsjs.org/#!/documentation/reference/sails.config/sails.config.connections.html">data sources</a>, and build custom <a target="_blank" href="http://sailsjs.org/#!/documentation/concepts/Controllers?q=actions">controller actions</a>. For more help getting started, check out the links on this page.</p>

        </div>
      </li>
    </ul>
    <div class="links">
      <!-- <h3>Links</h3> -->
      <ul class="link-list">

        <h4>Docs</h4>
        <a target="_blank" href="http://sailsjs.org/#!/documentation/anatomy/myApp"><li>App Structure</li></a>
        <a target="_blank" href="http://sailsjs.org/#!/documentation/reference"><li>Reference</li></a>
        <a target="_blank" href="http://sailsjs.org/#!/documentation/concepts/extending-sails/Adapters/adapterList.html"><li>Supported Databases</li></a>

        <h4>Tutorials</h4>
        <a target="_blank" href="https://github.com/sails101"><li>Sails 101</li></a>

        <h4>Community</h4>
        <a target="_blank" href="http://stackoverflow.com/search?q=sails.js"><li>StackOverFlow</li></a>
        <a target="_blank" href="https://github.com/balderdashy/sails"><li>GitHub</li></a>
        <a target="_blank" href="https://groups.google.com/forum/#!forum/sailsjs"><li>Google Group</li></a>
        <a target="_blank" href="http://webchat.freenode.net/"><li>IRC (#sailsjs on freenode)</li></a>

      </ul>
    </div>
  </div>
</div>
 #}